html {
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    text-align: center;
  }
  p {
    font-size: 1.5rem;
  }
  body {
    margin: 0;
    background-image: url('../recursos/Images/Clima.jpg');
    background-repeat:inherit;
    background-position:center;
    display: block;
    margin: auto;
  }
  .topnav {
    overflow: hidden;
    background-color: #66003b;
    color: #95d500;
    font-size: 1rem;
  }
  .content {
    padding: 20px;
  }
  .card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
  }
  .card-title {
    color:#66003b;
    font-weight: bold;
  }

  .card-big{
    background-color: #003366;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
  }
  .cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid; grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .reading {
    font-size: 1.2rem;
  }
  .cube-content{
    width: 100%;
    background-color: white;
    height: 300px; margin: auto;
    padding-top:2%;
  }
  #reset{
    border: none;
    color: #FEFCFB;
    background-color: #66003b;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px; width: 150px;
    border-radius: 4px;
  }
  #resetX, #resetY, #resetZ{
    border: none;
    color: #FEFCFB;
    background-color: #66003b;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    width: 20px;
    border-radius: 4px;
  }