<!DOCTYPE HTML>
<html>
<head>
  <title>ESP Servidor Web</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:,">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/107/three.min.js"></script>
</head>
<body>
  <div class="topnav">
    <h1> ESTACI&OacuteN METEREOL&OacuteGICA </h1>
  </div>
  <div class="content">
    <div class="cards">
      <div class="card-big">
        <div class="card">
          <p class="card-title">TEMPERATURA</p>
          <p><span class="reading"><span id="temp"></span> &deg;C</span></p>
        </div>
        <div class="card">
          <p class="card-title">SENS&OacuteR POSICI&OacuteN</p>
          <p><span class="reading">X: <span id="accX"></span> ms<sup>2</sup></span></p>
          <p><span class="reading">Y: <span id="accY"></span> ms<sup>2</sup></span></p>
          <p><span class="reading">Z: <span id="accZ"></span> ms<sup>2</sup></span></p>
        </div>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>